<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="../images/LWithN.png" height="auto" width='174px'></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" href="../Car_Arrangement/">車輛行事曆</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../Orders/">所有訂單</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../Customer/">客戶資料</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="../daily_report/">出租日報</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="../duty_shift/">結帳作業</a>
            </li> -->


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    設定
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="../Branch_Management/">店鋪管理</a>
                    <a class="dropdown-item" href="../HR_System/">人員管理</a>
                    <a class="dropdown-item" href="#" onClick='logout()'>登出</a>
                </div>
            </li>
        </ul>
    </div>
</nav>