* {
    font-family: Microsoft JhengHei;
    box-sizing: unset !important;
}

.grid {
    float: left;
}

.function_btn {
    width: 130px;
    height: 50px;
    border-radius: 15px;
    color: WHITE;
    font-size: 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.left {
    left: 0;
    height: 97.5%;
    width: 175px;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    padding-top: 20px;
    display: block;
}

.right {
    right: 0;
    height: 100%;
    width: calc(100% - 175px);
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /* padding-top: 20px; */
}

.vertical-menu {
    width: 174px;
}

.vertical-menu a {
    color: black;
    display: block;
    padding-top: 25px;
    text-decoration: none;
    height: 50px;
    font-size: 22px;
    border: 1px solid #979797;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.for_hyper {
    border: 1px solid #979797;
    border-top-style: none;
    /* border-left-style: none; */
}

.fa-caret-down {
    /* float: left; */
    padding-left: 28px;
}

.fa-caret-up {
    /* float: left; */
    padding-left: 28px;
}

.dropdown-btn {
    /* padding: 6px 8px 6px 16px; */
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    /* text-align: left; */
    cursor: pointer;
    outline: none;
}


/* .active-dropdown {
    background-color: green;
    color: white; 
}*/

#dropdown-container a {
    padding-top: 10px;
    text-decoration: none;
    height: 30px;
    border: 0px;
    background-color: #F2F2F2;
    font-size: 18px;
}

#dropdown-container a:hover {
    background-color: #979797;
}

input[type=text],
[type=number],
textarea {
    border: solid 3px #DADADA;
    padding-left: 10px;
    border-radius: 15px;
}

input {
    border-radius: 7.5px;
}

.modified_select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.modified_select {
    border: solid 3px #DADADA;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("images/dropdown-arrow-icon.png") no-repeat scroll right center WHITE;
    background-size: 18.51px 16.03px;
    background-origin: content-box;
    padding-left: 10px;
    padding-right: 10px;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.Input_Search_Field {
    height: 50px;
    font-size: 20px;
}

.navbar-div {
    display: none;
}


/*/////////////////////////////////////////////////*/

@media screen and (max-width: 1500px) {
    .over_size {
        display: none;
    }
}

@media screen and (max-width: 980px) {
    .left {
        display: none !important;
    }
    .right {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: unset;
        overflow-x: hidden;
        padding-top: 20px;
    }
    .navbar-div {
        width: 100%;
        display: block;
    }
    .grid {
        float: none;
    }
}


/*/////////////////////////////////////////////////*/