/*---------------------------------------------------------------------*/
.case_0{
    background-image: linear-gradient(90deg, #34C6FF, #007EFA);
}
.case_0_0{
    background-image: linear-gradient(90deg, #007EFA, #007EFA);
}
.case_0_1{
    background-image: linear-gradient(90deg, #007EFA, #FF0000);
}
.case_0_2{
    background-image: linear-gradient(90deg, #007EFA, #FA9700);
}
.case_0_3{
    background-image: linear-gradient(90deg, #007EFA, #434AF8);
}
.case_0_4{
    background-image: linear-gradient(90deg, #007EFA, #F11D6C);
}
.case_0_7{
    background-image: linear-gradient(90deg, #007EFA, #9F08C8);
}
/*---------------------------------------------------------------------*/
.case_1{
    background-image: linear-gradient(90deg, #FE786A, #FF0000);
}
.case_1_0{
    background-image: linear-gradient(90deg, #FF0000, #007EFA);
}
.case_1_1{
    background-image: linear-gradient(90deg, #FF0000, #FF0000);
}
.case_1_2{
    background-image: linear-gradient(90deg, #FF0000, #FA9700);
}
.case_1_3{
    background-image: linear-gradient(90deg, #FF0000, #434AF8);
}
.case_1_4{
    background-image: linear-gradient(90deg, #FF0000, #F11D6C);
}
.case_1_7{
    background-image: linear-gradient(90deg, #FF0000, #9F08C8);
}
/*---------------------------------------------------------------------*/
.case_2{
    background-image: linear-gradient(90deg, #FFD734, #FA9700);
}
.case_2_0{
    background-image: linear-gradient(90deg, #FA9700, #007EFA);
}
.case_2_1{
    background-image: linear-gradient(90deg, #FA9700, #FF0000);
}
.case_2_2{
    background-image: linear-gradient(90deg, #FA9700, #FA9700);
}
.case_2_3{
    background-image: linear-gradient(90deg, #FA9700, #434AF8);
}
.case_2_4{
    background-image: linear-gradient(90deg, #FA9700, #F11D6C);
}
.case_2_7{
    background-image: linear-gradient(90deg, #FA9700, #9F08C8);
}
/*---------------------------------------------------------------------*/
.case_3{
    background-image: linear-gradient(90deg, #83A8FF, #434AF8);
}
.case_3_0{
    background-image: linear-gradient(90deg, #434AF8, #007EFA);
}
.case_3_1{
    background-image: linear-gradient(90deg, #434AF8, #FF0000);
}
.case_3_2{
    background-image: linear-gradient(90deg, #434AF8, #FA9700);
}
.case_3_3{
    background-image: linear-gradient(90deg, #434AF8, #434AF8);
}
.case_3_4{
    background-image: linear-gradient(90deg, #434AF8, #F11D6C);
}
.case_3_7{
    background-image: linear-gradient(90deg, #434AF8, #9F08C8);
}
/*---------------------------------------------------------------------*/
.case_4{
    background-image: linear-gradient(90deg, #FB83A8, #F11D6C);
}
.case_4_0{
    background-image: linear-gradient(90deg, #F11D6C, #007EFA);
}
.case_4_1{
    background-image: linear-gradient(90deg, #F11D6C, #FF0000);
}
.case_4_2{
    background-image: linear-gradient(90deg, #F11D6C, #FA9700);
}
.case_4_3{
    background-image: linear-gradient(90deg, #F11D6C, #434AF8);
}
.case_4_4{
    background-image: linear-gradient(90deg, #F11D6C, #F11D6C);
}
.case_4_7{
    background-image: linear-gradient(90deg, #F11D6C, #9F08C8);
}
/*---------------------------------------------------------------------*/
.case_7{
    background-image: linear-gradient(90deg, #E756FF, #9F08C8);
}
.case_7_0{
    background-image: linear-gradient(90deg, #9F08C8, #007EFA);
}
.case_7_1{
    background-image: linear-gradient(90deg, #9F08C8, #FF0000);
}
.case_7_2{
    background-image: linear-gradient(90deg, #9F08C8, #FA9700);
}
.case_7_3{
    background-image: linear-gradient(90deg, #9F08C8, #434AF8);
}
.case_7_4{
    background-image: linear-gradient(90deg, #9F08C8, #F11D6C);
}
.case_7_7{
    background-image: linear-gradient(90deg, #9F08C8, #9F08C8);
}